@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.board {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  /* background-color: aliceblue; */
  transform: translate(-50%, -50%);
  /* display: flex; */
  border: solid red;
}
.boardCell {
  border: 0.25px solid aliceblue;
  font-size: 30px;
  color: black;
  display: flex;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* background-color: #3498db; */
  color: white;
  font-size: 16px;
  font-weight: bold;
}


.smaller-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* background-color: #3498db; */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.connector {
  /* positioedn: absolute; */

  background-color: aliceblue;
}

.connector.top {
  /* top: -10px; */
  margin-bottom: 60px;
  position: absolute;
  width: 20px;
  height: 80px;
}

.connector.right {
  margin-left: 60px;
  position: absolute;
  width: 20px;
  height: 80px;
  transform: rotate(90deg);
}

.connector.bottom {
  margin-top: 60px;
  position: absolute;
  width: 20px;
  height: 80px;
}

.connector.left {
  margin-right: 60px;
  position: absolute;
  width: 20px;
  height: 80px;
  transform: rotate(90deg);
}